.footer_navbar {    
    position: relative;
    min-height: 60px;
    margin-bottom: 21px;
    border: 1px solid transparent;
    font-size: 18px;
    font-family: "News Cycle","Arial Narrow Bold",sans-serif;
    font-weight: 700;
}

.footer_nav {
    padding-left: 0;
    list-style: none;
}

.footer_navbar-nav {
    float: left;
    margin: 0;
}

.footer_navbar-nav>li {
    float: left;
}

.footer_nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.footer_navbar-nav>li>a {
    padding-top: 19.5px;
    padding-bottom: 19.5px;
    color: #000000;
}
