<h4>Menu</h4>
<hr>

<strong>Breakfast</strong>
<ul>
    <li *ngFor="let item of breakfastItems" (click)="addToCartFn(item.productPrice)">
    {{ item.productName }} | R{{ item.productPrice }}
    </li>
</ul>

<strong>Lunch</strong>
<ul>
    <li *ngFor="let item of lunchItems" (click)="addToCartFn(item.productPrice)">
    {{ item.productName }} | R{{ item.productPrice }}
    </li>
</ul>


<strong>Dinner</strong>
<ul>
    <li *ngFor="let item of dinnerItems" (click)="addToCartFn(item.productPrice)">
    {{ item.productName }} | R{{ item.productPrice }}
    </li>
</ul>

<hr/>

<strong>Total: R{{cartTotal}} </strong>

<a type="button" routerLink="/checkout" class="btn btn-default">Checkout</a>